*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
#Home{
	width: 100%;
	height: 100vh;
    background: url(download.png);
    background-size: cover;
    background-position: center;
}
#Home img{
	position: relative;
	display: flex;
	width: 290px;
	height: 300px;
	margin-top: 10%;
	margin-left: 65%;
	border-radius: 20%;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-content: center;
	justify-content: space-between;
}
.navbar .fix .logo{
	position: fixed;
	width: 20%;
	height: 3%;
}
.navbar .fix ul{
	position: fixed;
	left: 950px;
}
.logo{
	position: relative;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	z-index: 1;
}
.logo ::before{
	content: '';
	position: absolute;
	top: 0;
	right: -60px;
	bottom: 0;
	width: 150%;
	height: 240%;
	background: #151654;
	animation: showRight 1.5s ease forwards;
	animation-delay: .4s;
}
.logo span{
	color: coral;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	top: 10px;
	right: 20px;
	z-index: 1;
}
.navbar ul li::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #151654;
	animation: showRight 1.5s ease forwards;
	animation-delay: .6s;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}
 nav ul li.navbar a{
 	border-bottom: 2px solid white;

 }
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: coral;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}
.navbar ul li:hover:after{
	width: 100%;
}
.home{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}
.home h1{
	position: relative;
	color: #fff;
	margin: 15px 0 15px;
	font-size: 65px;
}
.home h1::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #151654;
	animation: showRight 1.5s ease forwards;
	animation-delay: 1s;
}
.home h4{
	position: relative;
	color: #fff;
	margin: auto;
	font-size: 30px;
}
.home h4::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #151654;
	animation: showRight 1.5s ease forwards;
	animation-delay: .8s;
}
.home h3{
	position: relative;
	color: #fff;
	margin: auto;
	font-size: 30px;
}
.home h3::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #151654;
	animation: showRight 1.5s ease forwards;
	animation-delay: 1.2s;
}
.home h1 span{
	color: coral;
}
.home h3 span{
	color: coral;
}
.home h4 span{
	color: coral;
}
.img-hov{
    position: absolute;
	top: 200px;
	right: 	150px;
	height: 50%;
	width: 400px;
	background: transparent;
	cursor: pointer;
	transition: .6s;
}
.img-hov::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #151654;
	animation: showRight 1.5s ease forwards;
	animation-delay: 1.8s;
}
.img-hov:hover{
	background: #151654;
	opacity: .5;	
}
@keyframes showRight {
	100%{
		width: 0;
	}
}
/*for Profile*/

#Profile {
	width: 100%;
	height: 100vh;
	padding: 100px 0px;
    background: url(download.png);
    background-size: cover;
    background-position: center;
}
#Profile img{
	height: auto;
	width: 420px;
	border-radius: 50%;
	filter: grayscale(100%);
	transition: 0.5s ease;
	cursor: pointer;
}
#Profile img:hover{
	transform: scale(1.1);
	filter: grayscale(0%);
}
.pro{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	margin-top: 30px;
	z-index: 1;
}
.sum1 summary{
	padding: 4px;
	width: 160px;
	background-color: transparent;
	color: coral;
	border: none;
	box-shadow: 0px 0px 0px #bbbbbb;
	cursor: pointer;
	font-weight: bold;
}
.sum1 p{
	margin-top: 10px;
	color: #f3f6fb;
	margin-left: 10px;
	font-size: 20px;
}
.sum1 p span{
	color: orange;
}
.pro .text{
	margin: 10px;
	margin-left: 20px;
}
.text2{
	margin-top: 2px;
}
.sum2 summary{
	padding: 4px;
	width: 160px;
	background-color: transparent;
	color: coral;
	border: none;
	box-shadow: 0px 0px 0px #bbbbbb;
	cursor: pointer;
	font-weight: bold;
	border: coral;
	text-decoration: none;
}
.sum2 .p1{
	margin-left: 10px;
	margin-top: 5px;
	width: 420px;
	height: 300px;
	overflow: auto;

}
.p1 h1{
	color: orange;
	font-weight: bold;
	font-size: 35px;
}
.p1 p{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
.p1 img{
	max-width: 50%;
	height: auto;
	margin-left: 20%;
	cursor: pointer;
}
.p1 span{
	color: red;
}
.text3{
	margin-top: 2px;
}
.sum3 summary{
	padding: 4px;
	width: 160px;
	background-color: transparent;
	color: coral;
	border: none;
	box-shadow: 0px 0px 0px #bbbbbb;
	cursor: pointer;
	font-weight: bold;
	border: coral;
}.p3 h1{
	color: orange;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}
.p3 p{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
.sum3 .p3{
	margin-left: 10px;
	margin-top: 5px;
	width: 420px;
	height: 300px;
}
#Skills{
	width: 100%;
	height: 100vh;
	padding: 100px 0px;
    background: url(download.png);
    background-size: cover;
    background-position: center;
}
.skill{
	width: 100%;
}
.skill .row{
	width: 80%;
	margin: auto;
}
.content{
	display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.content .image2 img{
    width: 100%;
    height: auto;
}
.content .image1 img{
    width: 100%;
    height: auto;
}.content .image3 img{
    width: 100%;
    height: auto;
}
.content .image1{
	flex: 1;
	margin: 50px 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}
.content .image2{
	flex: 1;
	margin: 50px 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}
.content .image3{
	flex: 1;
	margin: 50px 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}
.content .image1 h2{
	color: red;
	font-weight: bold;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 10px;
}
.content .image2 h2{
	color: red;
	font-weight: bold;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 10px;
}
.content .image3 h2{
	color: red;
	font-weight: bold;
	font-size:25px;
	margin-top: 10px;
	margin-left: 10px;
}
.content .image3 p{
	font-size:15px;
	line-height: 1.5;
	padding: 10px;
	color: #6e6e6e;
}
.content .image1 p{
	font-size:15px;
	line-height: 1.5;
	padding: 10px;
	color: #6e6e6e;
}
.content .image2 p{
	font-size:15px;
	line-height: 1.5;
	padding: 10px;
	color: #6e6e6e;
}

/*COntact*/
#Contact{
	width: 100%;
	height: 105vh;
	padding: 100px 0px;
    background: url(download.png);
    background-size: cover;
    background-position: center;
}
.send h1{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: coral;
}
form{
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 550px;
	padding: 20px;
}
.send{
	margin-left: 30%;
	align-items: center;
	justify-content: center;
	margin-top: 55px;
	border: 1px solid;
	border-radius: 10%;
	width: 500px;
	height: 500px;
	background-color: lightgrey;
}
input[type="text"],
input[type="email"],
textarea{
	padding: 10px;
	border: 1px solid;
	border-color: black;
	margin-block: 20px;
	margin-top: 10px;
}
button{
	background-color: WHITE;
	color: black;
	padding: 8px 18px;
	width: 200px;
	font-size: 22px;
    border-radius: 20px;
	border: 1px double blueviolet;
	margin-left: 30%;
	cursor: pointer;
}
button:hover{
	background-color: gold;
	color: red;
}
.social{
	position: absolute;
	bottom: 10%;
	width: 300px;
	left: 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 28%;
   	margin-bottom: -113%;
}
.social a{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #00abf0;
	border-radius: 20px;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
}
.social a:hover{
	color: #081b29;
}
.social a::before {
	content: '';
	position: absolute;	
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #00abf0;
	z-index: -1;
	transition: 0.5s;
}
.social a:hover:before {
    width: 100%;
}

footer{
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	color: cornflowerblue;
}
footer h1{
	text-align: center;
	margin-left: -10%;
	margin-top: 5%;

}
footer a{
	text-decoration: none;
	color: lightcoral;
}
@media screen and (max-width: 915px){
	#Home{
		width: 150%;
		height: 120vh;
	}
	 .image{
     height: 20rem;
     width: 18rem;
    margin-top: 65px;
    margin-left: -8%;
  }
   .home{
   	text-align: center;
   	align-items: center;
   	margin-top: 220px;
   	margin-left: 25%;
   }
   ul{
		display: inline-flex;
		justify-content: space-between;
		margin-left: -700px;
	}
	ul a{
	    margin-right: -17px;
	}
	.navbar ul li::before{
	content: '';
	position: absolute;
	top: 0;
	right: -42%;
	bottom: 0;
	width: 150%;
	height: 100%;
	background: #151654;
	animation: showRight 1.5s ease forwards;
	animation-delay: .6s;
}
   .home h1{
   	display: inline-flex;
   	font-size:55px;
   }
   .home h2{
   	display: inline-flex;
   }
   .home h3{
   	font-size: 25px;
   }
   #Profile{
   	width: 150%;
   	height: 220vh;
   }
   .pro{
    flex-direction: column;
   }
   .img-hov{
   	margin-top: -65px;
   	margin-right: -180px;
   	width: 310px;
   	height: 320px;
   }
   .logo{
   	display: inline-flex;
   	height: 0;
   }
   #Skills{
   	width: 150%;
   	height: 320vh;
   }
   .content{
   	flex-direction: column;
   	display: flex;
   }
   .it{
   	margin-left: 15%;
   }
   #Contact{
   	width: 150%;
   	height: 180vh;
   }
   .send{
   	margin-left: 10%;
   	margin-top: 200px;
   	flex-direction: column;
   }
   footer{
   	display: flex;
   	align-items: center;
   	justify-content: center;
   	margin-left:20px;
   	margin-top: 40%;
   }
   .social{
   	display: flex;
   	margin-left: 130px;
   	margin-bottom: -960%;
   }
}
