*{
    margin: 0;
    padding: 0;
}
body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  background: aqua;
}
.slider {
    width:750px;
    height: 560px;
    border-radius: 50px;
    margin-left: 430px;
    margin-top: 40%;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 502px;
    display: flex;
    cursor: pointer;
}
.slides input{
    display: none;
}
.slide img{
    height: 550px;
    width: 800px;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    position: relative;
    border: 5px solid aqua;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: aqua;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 462px;
}
.navigation-auto div{
    border: 5px solid aqua;
    padding: 5px;
    border-radius: 10px;
    transition: 2s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: aqua;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: aqua;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: aqua;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: aqua;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: aqua;
}
#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;    
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    top: 45%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#popup h1{
    font-weight: bold;
    color: red;
}
#popup span{
    font-weight:bold;
}
#popup a{
    margin-top: 20px;
    padding:5px 20px;
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 10px;
}
#popup1{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup1.active1{
    top: 45%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#popup1 h1{
    font-weight: bold;
    color: red;
}
#popup1 span{
    font-weight:bold;
}
#popup1 a{
    margin-top: 20px;
    padding:5px 20px;
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 10px;
}
#popup3{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup3.active3{
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#popup3 h1{
    font-weight: bold;
    color: red;
}
#popup3 span{
    font-weight:bold;
}
#popup3 a{
    margin-top: 20px;
    padding:5px 20px;
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
}
popup2{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#pop0{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#pop0.active0{
    top: 60%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#pop0 h1{
    font-weight: bold;
    color: red;
}
#pop0 span{
    font-weight:bold;
}
#pop0 a{
    margin-top: 20px;
    padding:5px 20px;
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 10px;
}
#popup2{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup2.active2{
    top: 45%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#popup2 h1{
    font-weight: bold;
    color: red;
}
#popup2 span{
    font-weight:bold;
}
#popup2 a{
    margin-top: 20px;
    padding:5px 20px;
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 10px;
}
#popup3{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup3.active3{
    top: 45%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#popup3 h1{
    font-weight: bold;
    color: red;
}
#popup3 span{
    font-weight:bold;
}
#popup3 a{
    margin-top: 20px;
    padding:5px 20px;
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 10px;
}
#popup0{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup0.active0{
    top: 45%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#popup0 h1{
    font-weight: bold;
    color: red;
}
#popup0 span{
    font-weight:bold;
}
#popup0 a{
    margin-top: 20px;
    padding:5px 20px;
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 10px;
}
